<div class="add-student-container"> 
  <form [formGroup]="addStudentForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput required>
    </mat-form-field>
  <br>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput required email>
    </mat-form-field>
  <br>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input formControlName="phone" matInput required>
    </mat-form-field>
  <br>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
